body{
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color:indianred;
    background: url("https://imgur.com/VSM4UoC.jpg");
    background-size: cover;
    color:white;
    text-shadow: 1000px;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    height: 330px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}

.grid div{
    border:1.5px solid black;
    height:30px;
    width:30px;
    text-align: center;
}

.grid .mine {
background-color: red;
}
/* 
.grid .clicked {
    background-color: rgb(8, 54, 101);
} */

#reset-button {
    display:flex;
}