body{
    /* font-family: Helvetica, sans-serif; */
    font-family: 'Fredoka One', cursive;
    font-size: 25px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 100px;
    background-color:indianred;
    background: url("https://imgur.com/VSM4UoC.jpg");
    background-size: cover;
    color:blueviolet;
    text-shadow: 1000px;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    height: 330px;
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    background-color:darkslateblue;
}

.grid div{
    border:1.5px solid black;
    height:30px;
    width:30px;
    text-align: center;
    color:aqua;
}

/* .grid .mine {
    background-color: red;
} */

#reset-button {
    display:flex;
}

.grid .clicked {
    background-color:blue; 
}

.button-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
}

.gameDecision{
    color: black;
    font-size: 30px;
}